<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-material/paper-material.html">

<dom-module id="kw-question">
  <link rel="stylesheet" type="text/css" href="kw-question.css">

  <template>
    <paper-material elevation="1">
      <div class="content">
        <div class="votes">
          <paper-icon-button icon="icons:thumb-up"></paper-icon-button>
          <h3>{{question.votes}}</h3>
          <paper-icon-button icon="icons:thumb-down"></paper-icon-button>
        </div>
        <h2>{{question.text}}</h2>
      </div>
    </paper-material>
  </template>

</dom-module>
<script src="kw-question.js"></script>